.senseui-slider {
	padding: 10px;
	font-size: 12px;
}
.senseui-slider input { 
    text-align: center; 
}
.senseui-slider #sliderTop {
	padding-bottom: 5px;
}
.senseui-slider #sliderTop .senseui-slider-label {
	padding-right: 10px;
	font-weight: bold;
}
.senseui-slider #sliderMin,
.senseui-slider #sliderMax {
	padding-top: 5px;
	display: inline-block;
	width: 49%;
}
.senseui-slider #sliderMax {
	text-align: right;
}
.ui-slider-handle.ui-state-hover, 
.ui-slider-handle.ui-state-focus, 
.ui-slider-handle.ui-state-active {
	border: 1px solid #009933;
	background: #77b62a;
}